html, body {
    background-color: #111;
}

.card {
    position: absolute;
    left: 1rem;
    width: 10vw;
    top: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.card-body {
    overflow: hidden;
}